@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,100;1,400&display=swap");

body {
  background-color: black;
  font-family: Poppins;
}

.index-container {
  color: whitesmoke;
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 200px;
}

h1 {
  letter-spacing: 10px;
  color: pink;
}

.enter-btn {
  color: yellowgreen;
  border: 1px solid yellowgreen;
  margin-top: 100px;
  border-radius: 5px;
  font-size: 20px;
  opacity: 0.6;
  padding: 8px 24px;
  transition: opacity 0.3s ease;
  text-decoration: none;
}

.enter-btn:hover {
  opacity: 1;
}

#profile-pic {
  border-radius: 50px;
  justify-content: center;
}

#profile-pic:hover {
}

.inline {
  list-style-type: none;
  display: inline-block;
  text-align: center;
}

li {
  padding: 20px;
  display: inline-block;
}
